{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'callapi.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <h1>News viewer</h1>
        <button onclick="allnews()">All news</button>
        <button onclick="getnews('google')">Google</button>
        <button onclick="getnews('apple')">Apple</button>
        <button onclick="getnews('microsoft')">Microsoft</button>
        <button onclick="getnews('meta')">Meta</button>
        <button><input type="date" name="from" id="from" onchange="filter()" style="background-color: #555; border: none; color: white;"></button>
        <button><input type="date" name="to" id="to" onchange="filter()" style="background-color: #555; border: none; color: white;"></button>
        <!-- <button onclick="filter()">Helo</button> -->
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>